body {
    background: radial-gradient(circle, #00512C, #00311D);
    margin: 0;
}

.show{
    display: block;
}

.hidden{
    display: none;
}

header{
    display: flex;
    background-color: #00512C;
}

header h1{
    text-align: center;
    justify-self: center;
    flex-grow: 1;
    margin-right: 65px;
}

header h1 a{
    text-decoration: none;
    color: #FFD700;
}

header h1:hover{
    cursor: pointer;
}

header a{
    height: fit-content;
    margin: auto 0;
}

header img{
    height: 50px;
    margin-top: auto;
    margin-left: 20px;
}

header img:hover{
    cursor: pointer;
    border: 2px solid gold;
}

#winner, #loser{
    position: absolute;
    color: #FFD700;
    top: 125px;
    text-align: center;
}

main{
    display: flex;
    justify-content: center;
    border: 5px solid brown;
    border-radius: 0 0 300px 300px;
    background-color: #00512C;
    margin-top: 125px;
    padding: 25px;
    max-width: 500px;
}

.table{
    margin-top: 10px;
    padding: 25px;
}

#dealer_hand {
    display: flex;
    position: relative;
}

#dealer_hand img {
    margin-left: -55px;
    transform: translateX(55px);
}

#dealer_hand img:nth-of-type(n) {
    z-index: n;
}

#player_hand {
    display: flex;
    position: relative;
}

#player_hand img {
    margin-left: -55px;
    transform: translateX(55px);
}

#player_hand img:nth-of-type(n) {
    z-index: n;
}

.score{
    margin: 0 0 0 0;
    font-size: 25px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #FFD700  ;
}

#controller{
    display: flex;
    justify-content: space-between;
    justify-self: center;
}

.card_img{
    height: 100px;
    grid-column: 1/3;
    grid-row: 1/2;
}

#controller button {
    background-color: #FFD700;
    color: black;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    font-weight: bold;
}

#controller button:hover {
    background-color: #FFD700;
    border: 2px solid tomato;
}

footer{
    display: flex;
    bottom: 0;
    background-color: #00512C;
    color: #FFD700;
    width: 100%;
    height: 75px;
    margin-top: 25px;
}

.left{
    margin: auto;
    margin-left: 10px;
}

.spacer{
    flex-grow: 1;
}

.right{
    margin: auto;
}

.right p{
    margin-right: 10px;
}

footer a{
    text-decoration: none;
    color: #FFD700;
}

footer a:hover{
    color: tomato;
}

@media (min-width: 300px){
    #winner, #loser{

    }
}

@media (min-width: 575px) {
    main{
        justify-self: center;
        width: 500px;
    }
}